body {
  margin:0px;
  background-color:rgba(51, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u359 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:27px;
  width:112px;
  height:150px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:27px;
  width:112px;
  height:30px;
  text-align:center;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:87px;
  width:112px;
  height:30px;
  text-align:center;
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:117px;
  width:112px;
  height:30px;
  text-align:center;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:57px;
  width:112px;
  height:30px;
  text-align:center;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:2px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:147px;
  width:112px;
  height:1px;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:147px;
  width:112px;
  height:30px;
  text-align:center;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:73px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u366 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:57px;
  width:72px;
  height:73px;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
