body {
  margin:0px;
  background-color:rgba(51, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:507px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u345 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:14px;
  width:488px;
  height:306px;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:2px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:64px;
  width:488px;
  height:1px;
}
#u346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:30px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:30px;
  width:19px;
  height:19px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:97px;
  width:439px;
  height:60px;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  text-align:left;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:208px;
  word-wrap:break-word;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:219px;
  height:30px;
  text-align:left;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:220px;
  height:30px;
  text-align:left;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:208px;
  word-wrap:break-word;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:30px;
  width:219px;
  height:30px;
  text-align:left;
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:177px;
  width:99px;
  height:39px;
  text-align:center;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:177px;
  width:340px;
  height:39px;
}
#u355_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:268px;
  width:78px;
  height:36px;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:216px;
  width:99px;
  height:39px;
  text-align:center;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:216px;
  width:340px;
  height:39px;
}
#u358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
